@media only screen and (min-width: 1222px) {
  .flex-container {
    width: 100%;
  }

  .job-title {
    display:block;
  }

  #date-1 {
    position:absolute;
    right: 50px;
  }

  .project{
    display:block;
  }

  #project-link {
    font-weight: bold;
    position:absolute;
    right: 50px;
  }

}




@media only screen and (max-width:1043px) {
  .resume-body {
    width: 50%;
  }

  .job-title{
    display:block;
  }

  #date-1 {
    display:block;
    font-style: italic;
    padding:2px;
  }

}

@media only screen and (max-width: 600px) {
 .flex-container {
   width: 50%;
   height: auto;
   padding: 0px 30px 0px 10px;
 }

 .bio img {
   max-width: 100px;
   height: auto;
 }

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.flex-container {
  width: 95%;
  height:auto;
  margin: 20px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  padding: 20px 20px;


}

.name {
  display: flex;
  justify-content: center;
}

body {
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  line-height: 30px;
  background-image: url("background-3.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



h1 {
  font-family: 'Cinzel';
  font-size: 45px;
  font-weight: lighter;

  margin-bottom: 20px;
}

h2 {
  font-family: 'Noticia Text';
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}


.main-text {
  margin-bottom: 30px;
}

.resume-body {
  width: 75%;
  padding-right: 30px;
}

.work-experience{
  position:relative;
}

.responsibilities {
  margin-bottom:1em;
  line-height: 2em;
}

.description {
  margin-bottom: 20px;
}

#connect {
  background-color: black;
  color: white;
  padding: 5px 5px 5px 5px;
  margin-bottom: 10px;
  border-radius: 15px;
}

#socials {
  display: none;
  margin: 10px 10px;
}


.bio {
  width: 25%;

}

.bio a {
  text-decoration: none;
  color: black;
}

.bio-blurb{
  padding-top: 10px;
}

.bio img {
  width: 150px;
  height: auto;
}
