@media only screen and (min-width: 1222px) {
  .flex-container {
    width: 100%;
  }

  .job-title {
    display:block;
  }

  #date-1, #date-2, #date-3, #date-4 {
    position:absolute;
    right: 50px;
  }

}




@media only screen and (max-width:1043px) {
  .resume-body {
    width: 50%;
  }

  .job-title{
    display:block;
  }

  #date-1,#date-2,#date-3,#date-4 {
    display:block;
    font-style: italic;
    padding:2px;
  }

}

@media only screen and (max-width: 600px) {
 .flex-container {
   width: 50%;
   height: auto;
   padding: 0px 30px 0px 10px;
 }

 .bio img {
   max-width: 100px;
   height: auto;
 }

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  width: 90%;
  height:auto;
  margin: 20px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
}


body {
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
}



h1 {
  font-family: 'Pacifico', cursive;
  font-size: 55px;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}


.main-text {
  margin-bottom: 30px;
}

.resume-body {
  width: 75%;
  padding-right: 30px;
}

.work-experience{
  position:relative;
}

.responsibilities {
  margin-bottom:1em;
  line-height: 2em;
}

.description {
  margin-bottom: 20px;
}

#connect {
  background-color: black;
  color: white;
  padding: 5px 5px 5px 5px;
  margin-bottom: 10px;
  border-radius: 15px;
}

#socials {
  display: none;
  margin: 10px 10px;
}


.bio {
  width: 25%;

}

.bio a {
  text-decoration: none;
  color: black;
}

.bio-blurb{
  padding-top: 10px;
}

.bio img {
  width: 150px;
  height: auto;
}
